body {
    background-color: #f4f8ff;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .ContactList {
    background-color: white;
    box-shadow:
      1px 1px 3px rgba(0, 0, 0, 0.05),
      4px 4px 8px rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    overflow: hidden;
    position: relative;
  }
  .ContactList > p {
    padding: 5px 15px;
    font-size: 13px;
  }
  .ContactList-title {
    border-bottom: 1px solid #f0f4fc;
    color: #777;
    font-size: 13px;
    font-weight: bold;
    line-height: 42px;
    margin: 0;
    padding: 5px 15px 0;
    text-transform: uppercase;
  }
  .ContactList > button {
    background-color: #12c8ba;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin: 10px 15px;
    padding: 10px 15px;
  }
  .ContactList-refresh {
    background-color: #bbb;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    position: absolute;
    right: 15px;
    top: 12px;
    transition: background-color 150ms ease-out;
  }
  .ContactList-refresh:hover {
    background-color: #dd3c6f;
  }
  
  .Contact {
    border-bottom: 1px solid #f0f4fc;
    color: rgba(0, 0, 0, 0.73);
    font-family: Lato, sans-serif;
    padding: 7px 15px 10px;
  }
  .Contact-avatar {
    background-color: #8233ff;
    border-radius: 50%;
    color: white;
    float: left;
    height: 32px;
    line-height: 32px;
    margin: 3px 7px 0 0;
    position: relative;
    text-align: center;
    width: 32px;
  }
  .Contact-avatar > img {
    border-radius: 50%;
    height: 32px;
    left: 0;
    position: absolute;
    top: 0;
    width: 32px;
  }
  .Contact-error {
    color: #dd3c6f;
    font-size: 13px;
  }
  .Contact-name {
    font-weight: bold;
  }
  .Contact > a {
    display: block;
    margin-top: 5px;
  }
  .Contact-actions {
    margin-left: 40px;
    margin-top: 10px;
  }
  .Contact-actions > button {
    background-color: #aaa;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    padding: 5px 10px;
    transition: background-color 150ms ease-out;
  }
  .Contact-actions > button:hover {
    background-color: #999;
  }
  .Contact-actions > .Contact-actions-edit:hover {
    background-color: #8233ff;
  }
  .Contact-actions > .Contact-actions-delete:hover {
    background-color: #dd3c6f;
  }
  
  .ContactForm {
    padding: 4px 15px 4px 54px;
  }
  .ContactForm > label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0;
  }
  .ContactForm > label > span {
    display: block;
    margin-bottom: 3px;
  }
  .ContactForm > label > input {
    font-size: 14px;
    padding: 4px 8px;
  }
  .ContactForm > button {
    background-color: #aaa;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin: 0 10px 10px 0;
    padding: 10px 15px;
  }
  .ContactForm > button.ContactForm-save-button {
    background-color: #12c8ba;
  }
  .ContactForm-error {
    margin: 4px 0;
    color: #dd3c6f;
  }